.ContestPreview {
  margin: 1em;
  border: 1px solid #ccc;

  .category-name {
    border-bottom: 1px solid #ccc;
    padding: 0.25em 0.5em;
    font-weight: bold;
    background-color: rgb(255, 255, 255); 
  }

  .contest-name {
    padding: 0.5em;
  }
}

  .link {
    cursor: pointer;
  }

  .Header{
    background: #1ab;
    height: 40px;
    margin: 0.5em;
    padding: 5px;
    color: #eee;;
  }
